# 각 파티에 대한 인원수, 시간 정보 합치기
## 파티 시간이 10분부터 의미있다고 간주.
#### 각 주차당 동일 작업을 했습니다. 주석은 1주차에 해당하는 부분에만 달려있습니다.

In [12]:
import pandas as pd
import os
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

os.chdir('../data')

In [ ]:
#시간 정보 가진 데이터 불러오기
train_party_1wk_pre = pd.read_csv("train_party_1wk_time.csv")
#파티 인원수 데이터 불러오기
count = pd.read_csv("train_party_1wk_count.csv")

train_party_1wk_pre.head()
count.head()

len(train_party_1wk_pre)
len(count)

#데이터 합치기
train_party_1wk_pre["count"] = count
len(train_party_1wk_pre)

#파티 타임 10분 이상만 남긴다.
train_party_1wk_pre = train_party_1wk_pre[train_party_1wk_pre.time>10]

len(train_party_1wk_pre)

#데이터 저장
train_party_1wk_pre.to_csv("train_party_1wk_pre.csv", index = False)

In [21]:
train_party_1wk_pre = pd.read_csv("train_party_2wk_time.csv")
count = pd.read_csv("train_party_2wk_count.csv")

train_party_1wk_pre.head()
count.head()

len(train_party_1wk_pre)
len(count)

train_party_1wk_pre["count"] = count
len(train_party_1wk_pre)

train_party_1wk_pre = train_party_1wk_pre[train_party_1wk_pre.time>10]

len(train_party_1wk_pre)

train_party_1wk_pre.to_csv("train_party_2wk_pre.csv", index = False)

train_party_1wk_pre = pd.read_csv("train_party_3wk_time.csv")
count = pd.read_csv("train_party_3wk_count.csv")

train_party_1wk_pre.head()
count.head()

len(train_party_1wk_pre)
len(count)

train_party_1wk_pre["count"] = count
len(train_party_1wk_pre)

train_party_1wk_pre = train_party_1wk_pre[train_party_1wk_pre.time>10]

len(train_party_1wk_pre)

train_party_1wk_pre.to_csv("train_party_3wk_pre.csv", index = False)

train_party_1wk_pre = pd.read_csv("train_party_4wk_time.csv")
count = pd.read_csv("train_party_4wk_count.csv")

train_party_1wk_pre.head()
count.head()

len(train_party_1wk_pre)
len(count)

train_party_1wk_pre["count"] = count
len(train_party_1wk_pre)

train_party_1wk_pre = train_party_1wk_pre[train_party_1wk_pre.time>10]

len(train_party_1wk_pre)

train_party_1wk_pre.to_csv("train_party_4wk_pre.csv", index = False)

train_party_1wk_pre = pd.read_csv("train_party_5wk_time.csv")
count = pd.read_csv("train_party_5wk_count.csv")

train_party_1wk_pre.head()
count.head()

len(train_party_1wk_pre)
len(count)

train_party_1wk_pre["count"] = count
len(train_party_1wk_pre)

train_party_1wk_pre = train_party_1wk_pre[train_party_1wk_pre.time>10]

len(train_party_1wk_pre)

train_party_1wk_pre.to_csv("train_party_5wk_pre.csv", index = False)

train_party_1wk_pre = pd.read_csv("train_party_6wk_time.csv")
count = pd.read_csv("train_party_6wk_count.csv")

train_party_1wk_pre.head()
count.head()

len(train_party_1wk_pre)
len(count)

train_party_1wk_pre["count"] = count
len(train_party_1wk_pre)

train_party_1wk_pre = train_party_1wk_pre[train_party_1wk_pre.time>10]

len(train_party_1wk_pre)

train_party_1wk_pre.to_csv("train_party_6wk_pre.csv", index = False)

train_party_1wk_pre = pd.read_csv("train_party_7wk_time.csv")
count = pd.read_csv("train_party_7wk_count.csv")

train_party_1wk_pre.head()
count.head()

len(train_party_1wk_pre)
len(count)

train_party_1wk_pre["count"] = count
len(train_party_1wk_pre)

train_party_1wk_pre = train_party_1wk_pre[train_party_1wk_pre.time>10]

len(train_party_1wk_pre)

train_party_1wk_pre.to_csv("train_party_7wk_pre.csv", index = False)

train_party_1wk_pre = pd.read_csv("train_party_8wk_time.csv")
count = pd.read_csv("train_party_8wk_count.csv")

train_party_1wk_pre.head()
count.head()

len(train_party_1wk_pre)
len(count)

train_party_1wk_pre["count"] = count
len(train_party_1wk_pre)

train_party_1wk_pre = train_party_1wk_pre[train_party_1wk_pre.time>10]

len(train_party_1wk_pre)

train_party_1wk_pre.to_csv("train_party_8wk_pre.csv", index = False)

In [36]:
test_party_1wk_pre = pd.read_csv("test_party_1wk_time.csv")
count = pd.read_csv("test_party_1wk_count.csv")

test_party_1wk_pre.head()
count.head()

len(test_party_1wk_pre)
len(count)

test_party_1wk_pre["count"] = count
len(test_party_1wk_pre)

test_party_1wk_pre = test_party_1wk_pre[test_party_1wk_pre.time>10]

len(test_party_1wk_pre)

test_party_1wk_pre.to_csv("test_party_1wk_pre.csv", index = False)

test_party_1wk_pre = pd.read_csv("test_party_2wk_time.csv")
count = pd.read_csv("test_party_2wk_count.csv")

test_party_1wk_pre.head()
count.head()

len(test_party_1wk_pre)
len(count)

test_party_1wk_pre["count"] = count
len(test_party_1wk_pre)

test_party_1wk_pre = test_party_1wk_pre[test_party_1wk_pre.time>10]

len(test_party_1wk_pre)

test_party_1wk_pre.to_csv("test_party_2wk_pre.csv", index = False)

test_party_1wk_pre = pd.read_csv("test_party_3wk_time.csv")
count = pd.read_csv("test_party_3wk_count.csv")

test_party_1wk_pre.head()
count.head()

len(test_party_1wk_pre)
len(count)

test_party_1wk_pre["count"] = count
len(test_party_1wk_pre)

test_party_1wk_pre = test_party_1wk_pre[test_party_1wk_pre.time>10]

len(test_party_1wk_pre)

test_party_1wk_pre.to_csv("test_party_3wk_pre.csv", index = False)

test_party_1wk_pre = pd.read_csv("test_party_4wk_time.csv")
count = pd.read_csv("test_party_4wk_count.csv")

test_party_1wk_pre.head()
count.head()

len(test_party_1wk_pre)
len(count)

test_party_1wk_pre["count"] = count
len(test_party_1wk_pre)

test_party_1wk_pre = test_party_1wk_pre[test_party_1wk_pre.time>10]

len(test_party_1wk_pre)

test_party_1wk_pre.to_csv("test_party_4wk_pre.csv", index = False)

test_party_1wk_pre = pd.read_csv("test_party_5wk_time.csv")
count = pd.read_csv("test_party_5wk_count.csv")

test_party_1wk_pre.head()
count.head()

len(test_party_1wk_pre)
len(count)

test_party_1wk_pre["count"] = count
len(test_party_1wk_pre)

test_party_1wk_pre = test_party_1wk_pre[test_party_1wk_pre.time>10]

len(test_party_1wk_pre)

test_party_1wk_pre.to_csv("test_party_5wk_pre.csv", index = False)

test_party_1wk_pre = pd.read_csv("test_party_6wk_time.csv")
count = pd.read_csv("test_party_6wk_count.csv")

test_party_1wk_pre.head()
count.head()

len(test_party_1wk_pre)
len(count)

test_party_1wk_pre["count"] = count
len(test_party_1wk_pre)

test_party_1wk_pre = test_party_1wk_pre[test_party_1wk_pre.time>10]

len(test_party_1wk_pre)

test_party_1wk_pre.to_csv("test_party_6wk_pre.csv", index = False)

test_party_1wk_pre = pd.read_csv("test_party_7wk_time.csv")
count = pd.read_csv("test_party_7wk_count.csv")

test_party_1wk_pre.head()
count.head()

len(test_party_1wk_pre)
len(count)

test_party_1wk_pre["count"] = count
len(test_party_1wk_pre)

test_party_1wk_pre = test_party_1wk_pre[test_party_1wk_pre.time>10]

len(test_party_1wk_pre)

test_party_1wk_pre.to_csv("test_party_7wk_pre.csv", index = False)

test_party_1wk_pre = pd.read_csv("test_party_8wk_time.csv")
count = pd.read_csv("test_party_8wk_count.csv")

test_party_1wk_pre.head()
count.head()

len(test_party_1wk_pre)
len(count)

test_party_1wk_pre["count"] = count
len(test_party_1wk_pre)

test_party_1wk_pre = test_party_1wk_pre[test_party_1wk_pre.time>10]

len(test_party_1wk_pre)

test_party_1wk_pre.to_csv("test_party_8wk_pre.csv", index = False)

   time                                             hashed
0  29.5  633e2b44564d93ff278716bf31db234040287de8bfaab2...
1  30.1  e130d2cb735867a9299dde0779478f9b8d9a8892f1ce72...
2  41.9  be9edf74f6b88d01bc1ade174712caa80d14dea990138e...
3  20.0  2c22fc6b006696fdfca01319c7cf23ecfbffc531f7af74...
4  15.8  c9ccee4ae1797c721a8f889765d3e59002a43b5adb70c9...

   count
0      2
1      8
2      9
3      6
4      8

298041

298041

298041

181883

    time                                             hashed
0   28.7  7a9f5ee034ee7aea9540c67e46a9df316fdac0f07d45df...
1    9.5  2787d157b3e525366c5ab3abdce58eea840b054f054817...
2  180.6  4ea8790ea823f5b0ac297c55e9e8b8a12b21edd01a5c31...
3   33.9  5be11b75e1f785b1c212098a6bcaaee42919ad9c0fda33...
4   25.0  9e48c0b38af2e43e7843ebce88901fff4073f67087086a...

   count
0      8
1      7
2      8
3     11
4      6

328910

328910

328910

199996

    time                                             hashed
0  122.6  7176c1516207692857535c30a4650b8e8e586af1fed0fd...
1   10.3  8092e194a750aae539862ed4405f67a6dd5b492e7e57e3...
2   97.5  eb58b5d8c28b19b6bf35489aec4cd0283213a88a069036...
3   31.3  eb58b5d8c28b19b6bf35489aec4cd0283213a88a069036...
4   22.5  997ddb3c162f78ae7a4cd234f787fe3282e449ef433336...

   count
0      6
1      6
2      3
3      5
4      7

333791

333791

333791

203523

    time                                             hashed
0  191.0  bb8e63d2d3ee44f87e59985d3b76cc1693cf57c8f2bbda...
1    0.6  86fdd61ebf226b0008dcad3ecab86d252718e9598b8c6f...
2   12.9  28822df101904832f77221bcce67bc0f63510b8835b819...
3    8.6  6f9324e80ba616afc67e493b81b26e31ad10dd3b0c87bf...
4    0.4  1ddd306238889fbb3835c34c4fc0663cbf542ba7f350ce...

   count
0      9
1      1
2      2
3      6
4      3

370486

370486

370486

222087

    time                                             hashed
0   25.6  0a4efa2775543695a8071663c080e590b5650400c40fc2...
1   30.1  7ed04827b96eac9097a27f545445d983a9c4e13d986ab1...
2   16.9  719c3b7b0f17a8458afa7e41813811029bf81c4d585d98...
3  532.0  ad839956f6da9ef39cdeeba2bb94badfdc0be1310e2bfe...
4   16.2  dcfe9b7e15eeff2847b5002b4e982543592b9537ba9673...

   count
0      8
1     11
2      6
3     11
4      9

450380

450380

450380

268340

   time                                             hashed
0  19.4  4b33f0b6969e591bb19d7ea939af5e45e08c6799ef18e7...
1   2.6  a284744f3707f84daf525d5040191fda9a46db4c368fe6...
2   0.1  e7c5009f32f0c1957fc4cfa42ffa390fa44f0386f69c58...
3  15.4  8a126a151dbe248260e69ddb03671b42ba3d4755550149...
4  22.6  22f366abbfd312cfa4062c661a85079ec925fd6f969770...

   count
0      8
1      5
2      2
3      6
4      6

441121

441121

441121

268329

   time                                             hashed
0   1.6  b1e14188af3ef079986b55eba5eef121b9c726e1eb4937...
1   4.2  2c0d64ced4c446904a690732cb9c360ff3241b74a343ac...
2  48.6  8dda6a008ce18b6e79e2466edf319e94f65b40a96f42cc...
3  17.8  bf5aa5804a7d7fed621b85227cab3ede47830f442f4dd2...
4  16.8  e0c90026a31f6136f3fd82dd132182181d9511c4d38c61...

   count
0      2
1      3
2      7
3      6
4      6

882290

882290

882290

433326

    time                                             hashed
0    0.0  6015d440c4a54bad8d2c23538eb25c8a8f931c048dd1f0...
1  456.4  37d8c7e0212f1af017330a1ac452ed1eee5ee8e7fd0359...
2   16.1  99e31d50347f81a18de176f00f6a21ea9cdfab89386092...
3   19.1  92f6416bf096db34b2755606825b7bd83092b079c5d0cb...
4    1.3  a8ac5f36f7e2cb502bd7f48713e1be4cc40a2d9364966e...

   count
0      1
1     14
2      6
3      6
4      4

1016493

1016493

1016493

406636